/* Основной контейнер футера */
.ftr_footer {
  padding: 80px 0;
  border-top: 1px solid var(--accent-color);
}

.ftr_footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  text-align: center;
}

/* 1. Кнопка Google Play (вверху на мобилке) */
.ftr_google-btn {
  display: inline-block;
  padding: 12px 38px;
    background-color: var(--red-color);
    border-radius: 12px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: 2px solid transparent;
    box-shadow: 0px 4px 15px rgba(206, 22, 15, 0.4);
}

.ftr_google-btn:hover {
  transform: scale(1.03);
}

.ftr_btn-figure {
  margin: 0;
}

.ftr_btn-img {
  display: block;
  max-width: 165px;
  height: auto;
}

/* 2. Ссылки перехода (посередине на мобилке) */
.ftr_footer-list {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.ftr_footer-link {
  font-family: var(--font-poppins);
  font-size: 14px;
  color: var(--white-color);
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.3s ease;
}

.ftr_footer-link:hover,
.ftr_footer-link:focus {

      color: var(--accent-color);
}

/* 3. Блок копирайта (в самом низу на мобилке) */
.ftr_footer-copyright {
  order: 3;
  font-family: var(--font-poppins);
  font-size: 13px;
  color: var(--white-color);
  opacity: 0.8;
  line-height: 1.5;
}


/* --- МЕДИА-ЗАПРОС ДЛЯ ДЕСКТОПА (1440px+) --- */
@media only screen and (min-width: 1440px) {

  /* Перестраиваем в одну горизонтальную линию */
  .ftr_footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  /* МЕНЯЕМ ПОРЯДОК ДЛЯ ДЕСКТОПА СЛЕВА НАПРАВО */

  /* 1. Копирайт уходит в левый край */
  .ftr_footer-copyright {
    order: 1;
    text-align: left;
    font-size: 14px;
    margin-right: auto;
  }

  /* 2. Кнопка Google Play встает по центру */
  .ftr_google-btn {
    order: 2;
    margin-right: auto;
  }

  /* 3. Ссылки уходят в правый край */
  .ftr_footer-list {
    order: 3;
    gap: 40px;
  }

  .ftr_footer-link {
    font-size: 15px;
  }
}