
.how_section {
  background-color: var(--background-color, #041224);
  padding: 40px 0;
  width: 100%;
}

.how_wrapper {
  display: flex;
  flex-direction: column;
}

.how_section-title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 32px;
  width: fit-content;
  background: linear-gradient(25deg, #00d4ff 0%, #ff4f8a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.how_timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 30px;

}

.how_timeline-line {
  position: absolute;
  left: 6px;
  top: 10px;
  bottom: 10px;
  width: 2px;
  background-color: #ffffff;
}

.how_step {
  position: relative;
  display: flex;
  flex-direction: column;
}


.how_step-dot {
  position: absolute;
  left: -28px;
  top: 10px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translateX(-3px);
  z-index: 2;
}
.how_step-2 .how_step-dot,
.how_step-3 .how_step-dot {
  top: 30px;
  @media screen and (min-width:1440px) {
    top: -40px;
  }
}

.how_step-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.how_step-img-wrap {
  width: 106px;
  height: 106px;
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
}

.how_step-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.how_step-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.how_step-title {
  font-family: var(--font-space, "Space Grotesk", sans-serif);
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  color: var(--main-color, #00e5ff);
}

.how_step-text {
  font-size: 15px;
  line-height: 1.5;
  color: var(--text-color, #ffffff);
  margin: 0;
}


@media only screen and (min-width: 1440px) {
  .how_section {
    padding: 75px 0;
  }

  .how_section-title {
    margin-bottom: 60px;
  }

  .how_timeline {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    padding-left: 0;
    padding-top: 180px;
    padding-bottom: 180px;

  }

  .how_timeline-line {
    left: 0;
    right: 0;
    top: 140px;
    width: 100%;
    height: 2px;
  }

  .how_step {
    align-items: center;
    position: relative;
  }

  .how_step-dot {
    width: 28px;
    height: 28px;
    left: 50%;
    top: -40px;
    transform: translate(-50%, -50%);
  }

  .how_step-block {
    position: absolute;
    width: 100%;
    max-width: 360px;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
  }

  .how_step-1 .how_step-block,
  .how_step-3 .how_step-block {
    top: -12px;
  }

  .how_step-2 .how_step-block {
    bottom: 68px;

  }

    .how_step-1 .how_step-dot {
      left: 0px;
    }
  .how_step-2 .how_step-dot {
    top: -38px;
  }
    .how_step-3 .how_step-dot {
      left: 370px;
    }
}