<header class="hdr_header">
  <div class="container hdr_container">
    <button class="hdr_btn-burger" type="button" data-menu-open>
      <svg class="hdr_btn-burger-icon">
        <use href="/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <nav class="hdr_navigation">
      <ul class="hdr_list-navigation">
        <li class="hdr_item-navigation">
          <a href="/#" class="hdr_item-nav-link">Home</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="/#features" class="hdr_item-nav-link">Features</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="/#how-it-works" class="hdr_item-nav-link">How it Works</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="/#reviews" class="hdr_item-nav-link">Reviews</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="/#faq" class="hdr_item-nav-link">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
