<article class="hr_section">
  <div class="container hr_container">
    <h1 class="visually-hidden">
      Construct Pattern — Physics-powered Modular Puzzle Game
    </h1>

    <figure class="hr_logo-wrapper">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/img/hero/logo.png 1x, /img/hero/logo@2x.png 2x"
          width="542"
          height="260"
        />
        <img
          src="/img/hero/logo-mob.png"
          srcset="/img/hero/logo-mob@2x.png 2x"
          alt="Construct Pattern - Build. Balance. Activate."
          class="hr_logo-img"
          loading="eager"
        />
      </picture>
    </figure>

    <figure class="hr_mob-plant-wrapper">
      <img
        src="/img/hero/hero-plant-mob.png"
        srcset="/img/hero/hero-plant-mob@2x.png 2x"
        alt=""
        class="hr_bg-img"
        loading="eager"
      />
    </figure>

    <div class="hr_empty-column"></div>
  </div>
</article>
