<div class="mm_mobile-menu" data-visible="close">
  <div class="container">
    <button class="mm_close-btn" type="button" data-menu-close>
      <svg class="mm_btn-close-icon">
        <use href="/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mm_list-navigation" data-menu-navigation>
      <li class="mm_item-navigation">
        <a href="/#" class="mm_item-nav-link">Home</a>
      </li>
      <li class="mm_item-navigation">
        <a href="/#features" class="mm_item-nav-link">features</a>
      </li>
      <li class="mm_item-navigation">
        <a href="/#how-it-works" class="mm_item-nav-link">How it Works</a>
      </li>
      <li class="mm_item-navigation">
        <a href="/#reviews" class="mm_item-nav-link">Reviews</a>
      </li>
      <li class="mm_item-navigation">
        <a href="/#faq" class="mm_item-nav-link">FAQ</a>
      </li>
    </ul>
  </div>
</div>
